{% extends 'base.html' %}
{% block title %}Admin Manage{% endblock %}
{% block content %}
<h2>Create Building</h2>
<body>

    <form action="" method="post">
        <label>Name: </label>
            <input type="text" name="building_name_input">
        
        <label>Description: </label>
            <textarea name="description_input" style="height: 200px;width: 250px;"></textarea>
        
        <br><input type="text" id="taginput" placeholder="Enter Tag">
        <button onclick="add_tag(); return false;" class="addBtn">Add Tag</button>
        <label>Tags: </label>
            <ul id="taglist"></ul>

        <input name="create_building_input" type="submit" value="Submit">
    </form>

</body>
<button><a href="{{ url_for('admin_manage_building_and_station') }}">Back</a></button>

<script>

    var tag_num = 0;
    function add_tag(){
        var tag_list, text, entry, hiddeninput, deletebutton;
        tag_list = document.getElementById("taglist");
        text = document.getElementById("taginput").value;
        entry = document.createElement('label');
        hiddeninput = document.createElement('input');
        deletebutton = document.createElement('button');

        entry.setAttribute("name", "tag_" + tag_num);
        entry.appendChild(document.createTextNode(text + " "));
        tag_list.append(entry);

        hiddeninput.type = "hidden";
        hiddeninput.name = "hidden_input_" + tag_num;
        hiddeninput.value = text;
        tag_list.append(hiddeninput);

        deletebutton.innerHTML = "Delete Tag";
        deletebutton.onclick = function() {
            console.log("tag is deleted");
            tag_list.removeChild(hiddeninput)
            tag_list.removeChild(entry);
            tag_num -= 1;
            return false;
        }
        entry.appendChild(deletebutton);

        tag_num += 1;

        console.log(tag_num);
        console.log(tag_list);
        console.log(text);
        console.log(entry)
    }
    
</script>
{% endblock %}
