{% extends 'base.html' %}
{% block title %}Customer Info{% endblock %}
{% block content %}
<form action= "" method="post">
    <h2>Current Information</h2>
    <body>
        <p>Station: <b>{{ cus_info_dict.station }}</b></p>
        <p>Building: <b>{{ cus_info_dict.building }}</b></p>
        <p>Building Tag(s): <b>{{ cus_info_dict.building_tags }}</b></p>
        <p>Building Description: <b>{{ cus_info_dict.building_description }}</b></p>
        <p>Balance: <b>{{ cus_info_dict.balance }}</b></p>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Food Truck</th>
                <th>Manager</th>
                <th>Food(s)</th>
            </tr>
            </thead>
            
            <tbody>
            <form>
                {% for ft_dict in ft_dict_list %}
                <tr>
                    <td>
                        <input type="radio" name="radiobutton" value="{{ ft_dict.food_truck_name }}" style="margin: 0;">
                            <p style="display: inline-block">{{ ft_dict.food_truck_name }}</p>
                        </input>
                    </td>
                    <td>
                        <p name="{{ ft_dict.manager_name }}">
                            {{ ft_dict.manager_name }}
                        </label>
                    </td>
                    <td>
                        <p name="{{ ft_dict.food_names }}">
                            {{ ft_dict.food_names }}
                        </p>
                    </td>
                </tr>
                {% endfor %}
                </form>
            </form>
            </tbody>
        </table>
    </body>
    <button><a href="{{ url_for('home') }}">Back</a></button>
    <input type="submit" value="Select As Current Location">
</form>
{% endblock %}
